{% extends "base.html" %}

{% block titulo %}
Editar Produto
{% endblock %}

{% block conteudo %}
<h2>Editar Produto</h2>

<form method="post">
    {% csrf_token %}

    <div class="mb-3">
        <label>Nome</label>
        <input type="text" name="nome" class="form-control" value="{{ produto.nome }}">
    </div>

    <div class="mb-3">
        <label>Preço</label>
        <input type="text" name="preco" class="form-control" value="{{ produto.preco }}">
    </div>

    <button type="submit" class="btn btn-success">Salvar</button>
    <a href="{% url 'produtos' %}" class="btn btn-secondary">Cancelar</a>
</form>
{% endblock %}
